version: "3.9"

services:
  db:
    image: postgres:16
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: root
      POSTGRES_DB: test_db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4:9
    container_name: pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: mohitmolela@gmail.com
      PGADMIN_DEFAULT_PASSWORD: root
    ports:
      - "5050:80"

  landing-page:
    build:
      context: ./landing-page
      dockerfile: Dockerfile
    container_name: landing-page
    restart: always
    ports:
      - "5173:5173"
    environment:
      - VITE_API_URL=http://localhost:8000
      - DATABASE_URL=postgresql://admin:root@db:5432/test_db
      - ENCRYPTION_SECRET=12345678901234567890123456789012
      - NEXTAUTH_URL=http://localhost:5173
      - NEXT_PUBLIC_VIEWER_URL=http://localhost:5173

volumes:
  pgdata:
